{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
    <h1>Bienvenue {{ app.user.email }}</h1>
    {% else %}
    <h1>Bonjour</h1>
    {% endif %}

    <!--<img src="{{ asset('build/logo.png') }}" alt="ACME logo">-->

    <!--<a href="{{ path('program_show', {slug: 4}) }}">Afficher le program 4</a>-->

{% endblock %}