<nav class="navbar-light" style="background-color: #e3f2fd;">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <img src="{{ asset('build/logo.webp') }}" alt="" width="70" height="70" class="d-inline-block align-text-top">
        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="/" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
        <a class="nav-item nav-link" id="nav-programs-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
        <a class="nav-item nav-link" id="nav-series-tab" data-toggle="tab" href="/programs" role="tab" aria-controls="nav-profile" aria-selected="false">Explorer les nouvelles séries</a>
        <a class="nav-item nav-link" id="nav-categories-tab" data-toggle="tab" href="/categories" role="tab" aria-controls="nav-profile" aria-selected="false">Choix par catégories</a>
        <a class="nav-item nav-link" id="nav-favoris-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Favoris</a>
        <a class="nav-item nav-link" id="nav-acteurs-tab" data-toggle="tab" href="/actors" role="tab" aria-controls="nav-home" aria-selected="true">Acteurs</a>
        <a class="nav-item nav-link" id="nav-settings-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Settings</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Nous Contacter</a>
        </div>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
    {% if app.user %}
        {{ app.user.email }}
        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}"> Se connecter</a>
    {% endif %}
</nav>



